In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ARDRegression
from sklearn.linear_model import ElasticNetCV

from sklearn.model_selection import  train_test_split

In [2]:
df = pd.read_csv('Clean_Dataset.csv')
df.describe()

          Unnamed: 0       duration      days_left          price
count  300153.000000  300153.000000  300153.000000  300153.000000
mean   150076.000000      12.221021      26.004751   20889.660523
std     86646.852011       7.191997      13.561004   22697.767366
min         0.000000       0.830000       1.000000    1105.000000
25%     75038.000000       6.830000      15.000000    4783.000000
50%    150076.000000      11.250000      26.000000    7425.000000
75%    225114.000000      16.170000      38.000000   42521.000000
max    300152.000000      49.830000      49.000000  123071.000000

In [3]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
df.destination_city = df.destination_city.map({'Mumbai' : 0, 'Bangalore' : 1, 'Kolkata' : 2, 'Hyderabad' : 3, 'Chennai' : 4, 'Delhi' : 5})

In [5]:
df.source_city = df.source_city.map({'Mumbai' : 0, 'Bangalore' : 1, 'Kolkata' : 2, 'Hyderabad' : 3, 'Chennai' : 4, 'Delhi' : 5})

In [6]:
df.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,SG-8709,5,Evening,zero,Night,0,Economy,2.17,1,5953
1,SpiceJet,SG-8157,5,Early_Morning,zero,Morning,0,Economy,2.33,1,5953
2,AirAsia,I5-764,5,Early_Morning,zero,Early_Morning,0,Economy,2.17,1,5956
3,Vistara,UK-995,5,Morning,zero,Afternoon,0,Economy,2.25,1,5955
4,Vistara,UK-963,5,Morning,zero,Morning,0,Economy,2.33,1,5955

In [7]:
df.airline = df.airline.map({'SpiceJet' : 1, 'AirAsia' : 2, 'Vistara' : 3, 'GO_FIRST' : 4, 'Indigo' : 5,
       'Air_India' : 6})
df.airline.unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [8]:
df.stops = df.stops.map({'zero' : 0, 'one' : 1, 'two_or_more' : 2})

In [9]:
df['class'] = df['class'].map({'Economy' : 0, 'Business' : 1})
clase = {0 : 'Economy', 1 : 'Business'}

In [10]:
dfn = df.drop(['flight', 'departure_time', 'arrival_time'], axis=1)
corr = dfn.corr()
corr.style.background_gradient(cmap='coolwarm')

In [11]:
linear = LinearRegression()
ridge = Ridge()
ARDN = ARDRegression()
elastic = ElasticNetCV()

In [12]:
data_x = df.drop(['price', 'flight', 'departure_time', 'arrival_time', 'duration'], axis=1)
data_y = df['price']

In [13]:
data_x.head()

   airline  source_city  stops  destination_city  class  days_left
0        1            5      0                 0      0          1
1        1            5      0                 0      0          1
2        2            5      0                 0      0          1
3        3            5      0                 0      0          1
4        3            5      0                 0      0          1

In [14]:
train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.1)

In [15]:
linear.fit(train_x, train_y)
elastic.fit(train_x, train_y)
ridge.fit(train_x, train_y)
ARDN.fit(train_x, train_y)

ARDRegression()

In [16]:
print(f'y = {round( linear.coef_[0], 2)}x + {round(linear.intercept_, 2)}')
print(f'y = {round( ridge.coef_[0], 2)}x + {round(linear.intercept_, 2)}')
print(f'y = {round( elastic.coef_[0], 2)}x + {round(linear.intercept_, 2)}')
print(f'y = {round( ARDN.coef_[0], 2)}x + {round(linear.intercept_, 2)}')

y = -790.03x + 8762.99
y = -790.03x + 8762.99
y = -57.76x + 8762.99
y = -789.91x + 8762.99

In [17]:
print(f'Score Linear reg: {round(linear.score(test_x, test_y), 10) * 100}%')
print(f'Score ARDN: {round(ARDN.score(test_x, test_y), 10) * 100}%')
print(f'Score Ridge reg: {round(ridge.score(test_x, test_y), 10) * 100}%')
print(f'Score ElasticCV: {round(ridge.score(test_x, test_y), 10) * 100}%')

Score Linear reg: 90.43992626000001%
Score ARDN: 90.43993515999999%
Score Ridge reg: 90.43992191%
Score ElasticCV: 90.43992191%

In [18]:
airline = 2
aereolinea = {1: 'SpiceJet', 2: 'AirAsia', 3: 'Vistara', 4: 'GO_FIRST', 5: 'Indigo', 6: 'Air_India'}
source_city = 0
ciudad_origen = {0: 'Mumbai', 1: 'Bangalore', 2: 'Kolkata', 3: 'Hyderabad', 4: 'Chennai', 5: 'Delhi'}
ciudad_destino = {0: 'Mumbai', 1: 'Bangalore', 2: 'Kolkata', 3: 'Hyderabad', 4: 'Chennai', 5: 'Delhi'}
destination_city = 5
stops = 1
class_ = 0
dias_antes = 60
predicted1 = linear.predict([[airline, source_city, destination_city, stops, class_, dias_antes]])
predicted2 = ridge.predict([[airline, source_city, destination_city, stops, class_, dias_antes]])
predicted3 = ARDN.predict([[airline, source_city, destination_city, stops, class_, dias_antes]])
predicted4 = elastic.predict([[airline, source_city, destination_city, stops, class_, dias_antes]])

c:\Users\Ronal\Desktop\venv new\venv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
c:\Users\Ronal\Desktop\venv new\venv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but Ridge was fitted with feature names
  warnings.warn(
c:\Users\Ronal\Desktop\venv new\venv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but ARDRegression was fitted with feature names
  warnings.warn(
c:\Users\Ronal\Desktop\venv new\venv\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but ElasticNetCV was fitted with feature names
  warnings.warn(

In [19]:
print(f'Predicted price with LINEAR: {round(predicted1[0], 2)}')
print(f'Predicted price with Ridge: {round(predicted2[0], 2)}')
print(f'Predicted price with ARDN: {round(predicted3[0], 2)}')
print(f'Predicted price with Elastic Net: {round(predicted4[0], 2)}')

Predicted price with LINEAR: 31935.45
Predicted price with Ridge: 31935.07
Predicted price with ARDN: 31934.08
Predicted price with Elastic Net: 16708.63

In [20]:
print(f'La persona viajando en la aereolinea {aereolinea[2]}, \n saliendo de {ciudad_origen[source_city]} hacia {ciudad_destino[destination_city]}, con {stops} paradas, \n en clase {clase[class_]} \n y comprando el boleto {dias_antes} dias antes\n pagara {round(predicted1[0], 2)} pesos ')

La persona viajando en la aereolinea AirAsia,
 saliendo de Mumbai hacia Delhi, con 1 paradas,
 en clase Economy
 y comprando el boleto 60 dias antes
 pagara 31935.45 pesos